body{
    width: 100vw;
}
div{
    margin-bottom: 10px;
}

#formContent{
    width: 50%;
    border: 1px solid black;
}

#heading{
    text-align: center;
    text-decoration: underline;
}

label  , span{
    display: inline-block;
    width: 100px;
}
button{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 14px;

}
button:hover{
    cursor: pointer;
}